<h1 mat-dialog-title>{{ data ? 'Izmeni rutu (id #' + data.id + ')' : 'Dodaj rutu' }}</h1>
<form [formGroup]="routeForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label class="label-mat">Ime rute:</mat-label>
        <input matInput appTrim formControlName="name" [errorStateMatcher]="matcher" name="name" />
      </mat-form-field>
      <mat-error *ngIf="sharedService.validationMessage('name', routeForm, isFormSubmitted)" name="name">
        <strong>{{ 'required' | translate }}</strong>
      </mat-error>
    </div>
    <div class="col-lg-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label class="label-mat">Izaberi stanicu:</mat-label>
        <mat-select [errorStateMatcher]="matcher" formControlName="stationId" [value]="matSelectValue(stations)">
          <mat-option *ngFor="let st of stations" [value]="st">
            {{ returnStationName(st) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="sharedService.validationMessage('stationId', routeForm, isFormSubmitted)" name="stationId">
        <strong>{{ 'required' | translate }}</strong>
      </mat-error>
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="button"
    (mousedown)="$event.preventDefault()"
    (click)="addToArray()"
    [ngStyle]="{ color: disableBtn ? '#000000' : '#ffffff', background: disableBtn ? '#939191FF' : '#409efe' }"
  >
    <img
      class="icon"
      src="../../../../../../assets/icons/add.svg"
      alt=""
      [ngStyle]="{ transform: disableBtn ? 'rotate(45deg)' : '' }"
    />
    {{ disableBtn ? 'Nema susedne stanice' : 'Dodaj stanicu na rutu' }}
  </button>

  <mat-dialog-content class="table-div">
    <table mat-table [dataSource]="this._routeItems.getValue()" class="mat-elevation-z2 mb-3">
      <!-- Name Column -->
      <ng-container matColumnDef="NAZIV STANICE">
        <th mat-header-cell *matHeaderCellDef><strong>NAZIV STANICE</strong></th>
        <td mat-cell *matCellDef="let content">
          <input class="station-input" [value]="returnContentStationName(content)" readonly />
        </td>
      </ng-container>

      <!-- Via Column -->
      <ng-container matColumnDef="PREKO">
        <th mat-header-cell *matHeaderCellDef><strong>PREKO</strong></th>
        <td mat-cell *matCellDef="let content; index as i">
          <div class="btns-delete-check">
            <div class="via-div">
              <mat-checkbox color="primary" [checked]="viaValue(i)" (change)="toggleVia(content)"> </mat-checkbox>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="AKCIJE">
        <th mat-header-cell *matHeaderCellDef><strong>AKCIJE</strong></th>
        <td mat-cell *matCellDef="let content; index as i">
          <button class="delete-item" type="button" mat-icon-button *ngIf="isLastInArray(content, this.lastInArray)">
            <img
              class="icon"
              src="../../../../../../assets/icons/delete.svg"
              matTooltip="Obriši"
              [matTooltipPosition]="'above'"
              (click)="removeStation(i)"
              alt=""
            />
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div #scrollMe></div>
  </mat-dialog-content>

  <mat-dialog-actions class="d-dlex justify-content-between">
    <button mat-stroked-button color="primary" type="button" (click)="reset()">Resetuj stanice</button>
    <div>
      <button mat-flat-button type="button" (click)="closeModal()">Otkaži</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="this.getDisabled()">Snimi</button>
    </div>
  </mat-dialog-actions>
</form>
