<app-action-dialog
  [template]="content"
  [title]="name"
  [submitTitle]="isStart ? 'Postavljanje na prvu stanicu' : 'Odloži'"
  [disabled]="disabled"
  (submitted)="onSubmit()"
  [planInstanceId]="data.id"
></app-action-dialog>
<ng-template #content>
  <div class="input-div">
    <mat-form-field class="w-100 name-field" appearance="outline">
      <mat-label class="label-mat">Kašnjenje</mat-label>
      <input matInput [(ngModel)]="delay" [errorStateMatcher]="matcher" type="number" />
    </mat-form-field>
  </div>
</ng-template>
