.user-modal {
  height: 350px;
  p {
    font-size: 24px;
  }
  .form {
    margin-top: 30px;
    .three-divs {
      gap: 10px;
    }

    .example-full-width {
      width: 120px;
    }
  }
}

.pass {
  margin-top: 20px;
}

.enabled-label {
  width: 150px;
}

.checkbox-div {
  margin-top: 15px;
}

.name-input {
  width: 250px;
}

.vis {
  width: 25px;
  margin-bottom: 12px;
}
